html {
    min-height: 100%;
}

body {
  margin: 0px;
  display: flex;
  min-height: 100vh;
  background-color: #f6f6f6;
  font-family: sans-serif;
}

h1,
h2 {
  font-family: serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #aaa;
}

h1 {
  font-size: 28,8px;
}


.main-container {
  flex-direction: row;
  order: 1;
  width: 100%;
}

.main-sidebar {
  display: flex;
  order: 0;
  width: 176px;
  flex: 0 0 auto;
}

.main-header {
  height: 80px;
  position: relative;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header nav, search {
  position: absolute;
}

.user-menu {
  top: 0;
  right: 0;
}

.talk-menu {
  bottom: 0;
  left: 0:
}

.edit-menu {
  bottom: 0;
  right: 300px;
}

.search-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.search-menu input {
  width: 300px;
}
.main-content {
  background-color: #ffffff;
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  padding: 16px;
}

.biography {
  width: 270px;
  background: #f9f9f9;
  float:right;
  border: 1px solid #aaaaaa;
  margin: 6px 0px 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

.valami {
  width: 300px;
}

.main-footer {
  height: 150px;
}

.main-input {
  height: 28px;
  width: 276px;
  margin-bottom: 22px;
  font-size: 15px;
  font-style: italic;
}



p   {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

label {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
}

.label-username {
  margin-top: 22px;
}

button {
  background-color: #00af89;
  border: 1px solid #00af89;

  width: 290px;
  height: 32px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/logo.png);
  margin: 6px auto 0;
  color: transparent;
}
