html {
  margin: auto;
  text-align: center;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
}

h1 {
  color: #092327;
  text-align: center;
}

.input-area {
  display: flex;
  justify-content: center;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.todo-row {
  background-color: #90C2E7;
  height: 35px;
}
/*#87BCDE*/



.todo-container {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 550px;
  height: 30px;
  padding: auto;
  /*background-color: red;*/
}

.add-todo {
  background-color: #4E8098;
  padding: 10px;
  color: white;
  font-size: 14px;
  border-bottom: 0;
  height: 37px;
}

.completed-todo {
  background-color: #4E8098;
  width: 175px;
  padding: 10px;
  color: white;
  font-size: 14px;
  border-bottom: 0;
  height: 37px;
}

.bottom-buton {
  display: flex;
  justify-content: flex-start;
  width: 550px;
  margin: auto;
}

/*#2980b9*/

.remove {
  width: 70px;
  background-color: #092327
 ;
  color: white;
  font-size: 13px;
}
.complete {
  background-color: #2ecc71;
  color: white;
  font-size: 13px;
  width: 70px;
}

textarea {
  width: 450px;
  height: 30px;
  margin: 0px;
  font-size: 16px;
}
